<h1>Here are all your tasks</h1>


<ul>
  <% @tasks.each do |task| %>
  <li>
    <p>
      <%= form_for(task) do |f| %>
      <%= f.check_box :completed %>
      <% end %>
    </p>
      <%= link_to task.title, task_path(task) %>
  </li>
<%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

